.Rhistory
.DS_Store
.RData
FREE/src/FREE.so
FREE/src/RcppExports.o
FREE/src/scalar_update_betas.o
FREE/src/spline3.o
FREE/src/spline_iid.o
FREE/src/spline_model_sampler.o
FREE/src/spline_rw2.o
FREE/src/symbols.rds
FREElite/man/.Rapp.history
FREElite/src/FREE.so
FREElite/src/RcppExports.o
FREElite/src/scalar_update_betas.o
FREElite/src/spline_model_sampler.o
FREElite/src/symbols.rds
TODOfreeLite.md
test-free-code.R
FREE.Rcheck
FREE_2.0.tar.gz
FREElite.Rcheck
