export(FREEfit)
export(FREEfit.formula)
export(FREEfit.default)
export(FREEspline)
export(FREEsplineCV)
export(FREEscalar)
export(FREEscalarCV)
export(coef.FREEfit)
export(fitted.FREEfit)
export(FREEdataSim)
export(FREEfitCV)
export(FREEfitCV.formula)
export(FREEfitCV.default)
export(plot.FREEfit)
export(plot.FREEfitCV)
export(predict.FREEfit)
export(print.FREEfit)
export(print.FREEfitCV)
export(residuals.FREEfit)
export(residuals.FREEfitCV)
export(summary.FREEfit)
export(summary.FREEfitCV)
export(FREEhist)
export(FREEdens)
import(fda)
import(INLA)
import(MASS)
import(mboost)
import(parallel)
import(Rcpp)
import(splines)
importFrom(R2WinBUGS, bugs)
importFrom(rstan, stan, monitor, get_cppo, set_cppo)
S3method(print, FREEfit)
S3method(summary, FREEfit)
S3method(plot, FREEfit)
S3method(coef, FREEfit)
S3method(fitted, FREEfit)
S3method(residuals, FREEfit)
S3method(predict, FREEfit)
S3method(print, FREEfitCV)
S3method(summary, FREEfitCV)
S3method(plot, FREEfitCV)
S3method(residuals, FREEfitCV)
useDynLib(FREE)