exportPattern("^[[:alpha:]]+")
export(FREEfit.default)
export(FREEfit)
export(FREEfit.formula)
export(coef.FREEfit)
export(fitted.FREEfit)
export(FREEdataSim)
export(FREEfitCV)
export(FREEfitCV.default)
export(FREEfitCV.formula)
export(plot.FREEfit)
export(plot.FREEfitCV)
export(predict.FREEfit)
export(print.FREEfit)
export(print.FREEfitCV)
export(residuals.FREEfit)
export(residuals.FREEfitCV)
export(summary.FREEfit)
export(summary.FREEfitCV)